table {
    border-collapse: collapse;
}

thead {
    background-color: #ced4da;
    border-bottom: 3px solid black;
}

thead th {
    position: relative;
}

tbody tr:nth-child(even) {
    background-color: #ededed;
}

tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
}

thead th:has(+th[class="formula"]),
tbody th:last-of-type,
thead th[class="formula"]:has(+th),
tbody td:first-of-type:has(+td) {
    border-right: 3px solid black;
}

thead .formula-input-wrapper input {
    width: 8rem !important;
}

tbody input {
    width: 3.5rem !important;
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem;
    height: 3.5rem;
    text-align: center;
    min-width: 5rem;
}

thead th button {
    position: absolute;
    top: 0;
    right: 0;
    border-top: none;
    border-right: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
}

.bit, .variable {
    padding: 1rem;
}

#add-column {
    margin-top: 1rem;
}
