<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:qpy="http://questionpy.org/ns/question">

    <table>
        <thead>
            <tr>
                <!-- Sorted list of every variable in the formula. -->
                {% for variable in variables %}
                <th class="formula">{{ variable }}</th>
                {% endfor %}

                <!-- The formula. -->
                <th class="formula">{{ formula }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(rows) %}
            <tr>
                <!-- Bits of the current row. -->
                {% for col in range(cols) %}
                <th class="formula">{{ get_current_bit(row, col) }}</th>
                {% endfor %}

                <!-- Input field for the results of the formula. -->
                <td>
                    <div class="formula-input-wrapper">
                        <input type="text" name="{{ get_result_input_name(row) }}" maxlength="1" pattern="0|1" class="formula-input" style="display: none" qpy:correct-response="{{ get_correct_response(row) }}" />
                        <span class="formula-display" style="display: none;" />
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--
        TODO: Without the '\( \)' MathJax won't render any dynamically added formulas in Moodle with MathJax 2.x. Check
              if there is an alternative way.
    -->
    <div>\( \)</div>

</div>
